config.py

venv

output
__save_results
api_tasks
__archived
*/__archived

**/data*
**/data
checkpoints
models/configs

output/*
__save_results/*
api_tasks/*
__archived/*

**/data*/*
**/data/*

models/configs/*
models/configs/*.json
models/layers/gat__draft.py

__pycache__
**/**/*.pyc
