config.py

venv

output
__save_results
api_tasks
__archived
*/__archived

data/graphviz
data_embedding
data_json
data_pickle
data_vocab
data_graphs
data_graphviz
checkpoints
models/configs

output/*
__save_results/*
api_tasks/*
__archived/*

data/graphviz/*
data_graphs/*
data_graphviz/*
data_embedding/*
data_json/*
data_pickle/*
data_vocab/*

models/configs/*
models/configs/*.json
models/layers/gat__draft.py

__pycache__
**/**/*.pyc
